<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Buscar Paciente</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

</head>

<body class="container">
    <h1>Buscar Paciente</h1>
    <form action="/check" method="GET">
        <label for="ssn">Número de la Seguridad Social:</label>
        <input type="text" id="ssn" name="ssn" required>
        <button type="submit">Buscar</button>
    </form>
</body>

</html>