<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body class="container-fluid">
    <h1>Bienvenido a la App de la Seguridad Social</h1>

    <p>Actualmente, hay <%= totalPatients %> pacientes registrados en la base de datos.</p>

    <nav>
        <ul>
            <li><a href="/form">Buscar Paciente</a></li>
        </ul>
    </nav>
</body>

</html>